<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'myapp/masterA.html' %}
    <title>
        {% block title%}
            Display
        {% endblock %}
    </title>
</head>

<body>
    
    {% block content %}
    <span style="text-align: center;">
        <h1 class="display-5">Client Details</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Client Name</th>
                <th scope="col">Unique id</th>
                <th scope="col">Passowrd</th>
                <th scope="col">Project Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Created By</th>
                <th scope="col">Assigned User</th>
                <th scope="col">Status</th>
                <th scope="col">Updated At</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data%}
              <tr>
                <th><a href="/update/{{i.id}}">{{i.client_name}}</a></th>
                <td>{{i.uniqueid}}</td>
                <td>{{i.password}}</td>
                <td>{{i.project_name}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.created_by}}</td>
                <td>{{i.assigned_user}}</td>
                <td>{{i.status}}</td>
                <td>{{i.updated_at}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

    </span>

    <span style="text-align: center;">
      <h1 class="display-5">Our Users</h1>
      <table class="table">
          <thead>
            <tr>
            <tr>
              <th scope="col">id</th>
              <th scope="col">User Name</th>
            </tr>
          </thead>
          <tbody>
            {% for j in data1 %}
            <tr>
              <td>{{j.id}}</td>
              <td>{{j.name}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        
  </span>
    {% endblock %}

</body>
</html>