<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'myapp/masterC.html' with id=id %}
    <title>
        {% block title%}
            projects
        {% endblock %}
    </title>
</head>

<body>


    {% block content %}
    <div style="height: 600px; width: 550PX; background-image: url(https://cdn.wallpapersafari.com/59/51/n5aBUq.jpg); background-size: cover; margin-left: 450px; margin-top: 100px;">
        <div style="height: 100px;">
            <br>
            <h3 style="text-align: center;">Project Registration Form</h3>
        </div>
        <form action="" style="margin-left: 180px; font-weight: 750;" method="post">
        {% csrf_token %}
        <span> Client Name: <br> <input type="text" name="company" id="" value="{{data.client_name}}"></span><br><br>
        <span> Project Name: <br> <input type="text" name="project" id=""value=""></span><br><br>
        <span> Created At: <br> <input type="datetime-local" name="time" id=""></span><br><br>
        <span> Created By: <br> <input type="text" name="cname" id=""></span><br><br>
        <!-- <span> Assigned User: <br> <input type="text" name="user" id="" title="user will be Assigned by admin" value="Not-Assigned"></span><br><br> -->
        <!-- <span> Project Status: <br> <input type="text" name="result" id="" title="status will be update according to project progress" value="Not Declared yet"></span><br><br> -->
        <!-- <span> Updated At: <br> <input type="text" name="update" id="" title="status will be update according to project progress" ></span><br><br> -->
        </span><br>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    {% endblock %}

</body>
</html>